<div class="container-fluid bg-light p-4">
    <div class="card justify-content-center align-items-center">
        <h2><u>My Contacts</u></h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cell Phone</th>
                    <th class="d-none d-lg-table-cell" scope="col">Phone</th>
                    <th class="d-none d-md-table-cell" scope="col">Email</th>
                    <th scope="col">More Info</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let contact of $contactsArray; index as i">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{contact.name.first}} {{contact.name.last}}</td>
                        <td>{{contact.cell}}</td>

                        <td class="d-none d-lg-table-cell">{{contact.phone}}</td>
                        <td class="d-none d-md-table-cell">{{contact.email}}</td>
                        <td>
                            <button class="btn btn-outline-primary" *ngIf="selectedForDetails!=i"
                                (click)="showDetails(i)">
                                <i class="bi bi-caret-down-fill"></i>
                            </button><button class="btn btn-outline-danger" *ngIf="selectedForDetails==i"
                                (click)="hideDetails()">
                                <i class="bi bi-caret-up-fill"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="selectedForDetails==i">
                        <td colspan="6">
                            <app-address-card [selectedContact]="contact"></app-address-card>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <app-paginator (goToPageEvent)="goToPage($event)"></app-paginator>
    </div>

</div>