<div class="container-fluid bg-light p-4" *ngIf="loadSuccess">
    <div class="card justify-content-center align-items-center">
        <h1 class="fs-3 my-2">My Address Book</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th class="d-none d-lg-table-cell" scope="col">Phone</th>
                    <th class="d-none d-md-table-cell" scope="col">Email</th>
                    <th scope="col">More Info</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let contact of contactsArray; index as i">
                    <tr>
                        <th scope="row">{{i+pageNumAdder}}</th>
                        <td>{{contact.name.first}} {{contact.name.last}}</td>
                        <td>{{contact.cell}}</td>

                        <td class="d-none d-lg-table-cell">{{contact.phone}}</td>
                        <td class="d-none d-md-table-cell">{{contact.email}}</td>
                        <td>
                            <button class="btn btn-outline-primary" *ngIf="selectedForDetails!=i"
                                (click)="showDetails(i)">
                                <i class="bi bi-caret-down-fill"></i>
                            </button><button class="btn btn-outline-danger" *ngIf="selectedForDetails==i"
                                (click)="hideDetails()">
                                <i class="bi bi-caret-up-fill"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="selectedForDetails==i">
                        <td colspan="6">
                            <app-address-card [selectedContact]="contact"></app-address-card>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <app-paginator (goToPageEvent)="goToPage($event)"></app-paginator>
    </div>
</div>
<!-- ERROR Modal -->
<div class="modal fade alert alert-danger" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorMessage"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title" id="errorMessage">Ooops! Something went wrong</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="reloadPage()">Reload Page</button>
            </div>
        </div>
    </div>
</div>